.postJobForm {
  .formLogo {
    cursor: pointer;
    display: flex;
    height: 18rem;
    justify-content: center;
    position: relative !important;

    img {
      max-height: 18rem;
    }

    &::after {
      content: none !important;
    }
  }
}

.company-logo {
  height: 5rem;
  width: 5rem;
}
