.swal-container {
  background: none !important;
  z-index: 999999999 !important;
}
.swal-container__title {
  font-size: $font-size-lg !important;
  font-weight: $font-weight-bold !important;
}
